<ion-view view-title="About">
    <ion-content class="padding">
        <h3>Welcome to ClockWork!</h3>
        <p>ClockWork is a social time management application which allows you to quickly and easily organize a date with
            your friends. Simply create an event by providing details and a time limit for friends to respond. </p>
        <!--<p>-->
        <!--<a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>-->
        <!--</p>-->
    </ion-content>
</ion-view>