<!--
    Authors: Son Nguyen
    Created on: 2/18/2016
    file: /ClockWork/client/modal/modal.html

    Description: This file displace the modal to add new event.
    comment: This page uses controllerAs EventFeed to access the controller EventFeedCtrl. Need to do some form
             validation later on.
-->
<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">New Contact</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list" ng-controller="addEventCtrl as addEvent">
            <form class="list">

                <label class="item item-input text">
                    <input type="text" placeholder="Name of Event" ng-model="addEvent.newEvent.title">
                </label>

                <label class="item item-input text">
                    <textarea placeholder="Description" ng-model="addEvent.newEvent.description"></textarea>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Pick Event Type:
                    </div>
                    <select ng-model="addEvent.newEvent.event_type">
                        <option></option>
                        <option>Eat</option>
                        <option>Sleep</option>
                        <option>Read</option>
                    </select>
                </label>

                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Capacity
                        </div>
                        <select ng-model = "addEvent.newEvent.cap">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>10+</option>
                        </select>
                    </label>
                </div>



                <ionic-timepicker input-obj="addEvent.timePickerObject">
                    <button class="button button-positive button-block">
                        <standard-time-meridian etime='addEvent.timePickerObject.inputEpochTime'>Pick Time</standard-time-meridian>
                    </button>
                </ionic-timepicker>

                <button class="button button-positive button-block " ng-click="addEvent.addEvent(); modal.hide();">Confirm Event and Post</button>
            </form>
        </div>
    </ion-content>
</ion-modal-view>