<ion-view view-title="Home">

    <ion-nav-buttons side="right">
        <div class="buttons">
            <button class="button button-icon ion-compose" ng-click="modal.show()">
            </button>
        </div>
    </ion-nav-buttons>

    <ion-content class="padding">
        <!--
        <ion-list>
            <ion-item href="#/tab/facts">
                111111111
            </ion-item>
            <ion-item href="#/tab/facts">
                222222222
            </ion-item>
            <ion-item href="#/tab/facts">
                333333333
            </ion-item>
        </ion-list>
        <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
        </p>
        -->
        <ion-list ng-repeat="event in events">
            <ion-item href="#/tab/facts">
                <div class="row">
                    <div class="col col-10">
                        <i class="icon icon-left ion-social-dribbble-outline"></i>
                    </div>
                    <div class="col col-40">

                        <!--{{name}}-->
                        <h2>{{event.title}}</h2>

                        <h3>{{event.owner}}</h3>
                    </div>
                    <div class="col col-30">


                        <i class="icon ion-android-alarm-clock"></i>

                        <h3>{{event.expire | date:"short"}}</h3>

                    </div>
                    <div class="col col-20">
                        <i class="icon ion-person-stalker"></i>

                        <h2>{{event.fill}}/{{event.cap}}</h2>
                        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                    </div>

                    <ion-option-button class="button-assertive" ng-click="remove(chat)">
                        Delete
                    </ion-option-button>
                </div>
            </ion-item>
        </ion-list>



    </ion-content>
</ion-view>