<!--
    Authors: Cullin Lam, Son Nguyen
    Created on: 2/14/16
    file: /ClockWork/events/event-feed/event-feed.html

    This file displays the view for event feed

    2/23/16 C Lam
        -Updated expire to time_expire

    2/21/2016
        By: Son Nguyen
        Comment: Added controllerAs EventFeed to access functions and variables in eventFeedCtrl and removeEvent().
                 Using the future Angular 2 style of controllerAs help to know what controller is being use.

    2/27/2016 C Lam
        -Added use of countdown-timer directive

    3/14/16 C Lam
        -Added use of ion icon filter to event type

    3/18/16 C Lam
        -Added item-text-wrap to Event Title Col
-->

<ion-view view-title="Event">

    <ion-nav-buttons side="right">
        <div class="buttons">
            <button class="button button-icon ion-compose" ng-click="modal.show()">
            </button>
        </div>
    </ion-nav-buttons>

    <ion-content>

        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="searchBox">
            </label>
        </ion-list>

        <ion-list ng-repeat="event in EventFeed.events | filter: searchBox">
            <ion-item href="#/tab/event-detail/{{event._id}}">
                <div class="row">
                    <div class="col col-10">
                        <i class="icon icon-left {{event.event_type | icon}}" style="font-size: xx-large"></i>
                    </div>
                    <div class="col col-33 item-text-wrap">
                        <h2>{{event.title}}</h2>
                        <h3>{{event.owner}}</h3>
                    </div>
                    <div class="col col-33">

                        <i class="icon ion-android-alarm-clock" style="font-size: x-large"></i>
                        <countdown-timer></countdown-timer>
                    </div>
                    <div class="col col-20">
                        <i class="icon ion-person-stalker" style="font-size: x-large"></i>

                        <h2>{{event.fill}}/{{event.cap}}</h2>
                    </div>
                    <div class="col">
                        <i class="ion-chevron-right"></i>
                    </div>

                    <ion-option-button class="button-assertive" ng-click="EventFeed.removeEvent(event)">
                        Delete
                    </ion-option-button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>